{% extends 'base.html' %}

{% block title %} Airports {% endblock %}
{% block body %}
  {% if user.is_authenticated %}
    <p>Фильтрация вылетов по дате</p>
    <form action="{% url 'flight:date_filter' %}" method="GET">
      <label for="start">Start date:</label>
      <input type="date" id="start" name="start">
      <button type="submit">Submit</button>
    </form>
  {% endif %}
  {% for airport in airports %}
    <p>{{airport}}</p>
    <ul>
    {% for arival in airport.get_arivals %}
      <li>{{ arival }}</li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}