<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{article}}</title>
</head>
<body>
    <h1>{{article.heading}}</h1>
    <p>{{article.text}}<p>
    {% if comments %}
        <h2>Комментарии:</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    <h3>{{comment.author}}</h3>
                    <p>{{comment.text}}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Комментариев ещё нет.</h2>
    {% endif %}
</body>
</html>